@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 16em;
}
.box{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 20px;
    background-color: #fafafa;
    width: 300px;
    height: 550px;
    margin:20px 20px;
}

.mainbox{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #F0F0F0;
    z-index: 10;
    padding: 20px;
    width: 15em;
    
}
.dragitem{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    color: black;
    padding: 9px;
    background: #fff;
    margin: 5px 0;
    cursor: move;
    border-radius: 5px;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }